:root {
    --primary: rgb(81, 146, 148);
    --secondary: rgb(116, 124, 199);
    --title: rgb(43, 92, 94);
    --bgColor: rgba(255, 255, 255, 0.507);
    --transparent: rgba(255, 255, 255, 0.87);

}

body {
    height: 100vh;
    background-image: url('../img/header1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.categories {
    height: 100%;
    width: 1000px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.groups {
    background-color: var(--transparent);
    height: 300px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0, 20px, 20px, 0;
    box-shadow: 20px;
    text-align: center;
}

.smallText {
    font-size: 14px;
}

.image-holder {
    height: 100vh
}

.main-img {
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--bgColor);
    height: 400px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0, 20px, 20px, 0;
    box-shadow: 20px;
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

p {
    margin: 0;
}

table {
    background-color: var(--transparent);
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0, 20px, 20px, 0;
    box-shadow: 20px;
    text-align: center;
}

thead {}

th {
    height: 40px;
}

td {
    height: 30px;
}

.form-flex {
    display: flex;

}

.book {
    display: flex;
    margin: 0 aut0;
    justify-content: center;
    gap: 50px;
    height: max-content;
    flex-wrap: wrap;
}

.form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.form-flex h3,
.form-flex h4 {
    margin: 0;
}

.btn {
    height: 40px;
    width: max-content;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: var(--primary);
    line-height: 40px;
}

.sign {
    height: 40px;
    width: max-content;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    line-height: 40px;
    background-color: var(--primary);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: var(--title);
}

.appointments {}

.title {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.title h1 {
    position: absolute;
    top: 80px;
    color: var(--title);
}

.booking {
    background-color: var(--transparent);
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 4px;
}

input {
    border: 1px solid var(--primary);
    height: 20px;
    margin: 0 10px;
}

label {
    color: var(--primary);
    font-weight: bold;
}