body{
    height: 100vh;
    background-image: url('../img/header1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: red;
}

.categories {
    width: 1000px;
    margin: 0 auto; display: flex;
    justify-content: space-between;
}

.image-holder {height:100vh}

.main-img{
    height: 100vh;
}